<div class="row">
  <div class="col-md-6">
    <h3>Thursday, Oct 31</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="">Pre-workshop survey</a> </td> </tr>
      <tr> <td>13:00</td>  <td>Welcome and introductions</td> </tr>
      <tr> <td>13:15</td>  <td>Introduction to NumPy</td> </tr>
      <tr> <td>13:30</td>  <td>Understanding Data Types</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td>The Basics of NumPy Arrays</td> </tr>
      <tr> <td>15:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thursday, Nov 7</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Computation on NumPy Arrays: Universal Functions</td> </tr>
      <tr> <td>13:45</td>  <td>Aggregations: Min, Max, and Everything In Between</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td>Computation on Arrays: Broadcasting</td> </tr>
      <tr> <td>15:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Thursday, Nov 14</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Comparisons, Masks, and Boolean Logic</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td>Fancy Indexing</td> </tr>
      <tr> <td>15:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thursday, Nov 21</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Sorting Arrays</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td>Structured Data: NumPy's Structured Arrays</td> </tr>
      <tr> <td>15:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
 </div>